{% extends "base.html" %}

{% block content %}
  <h1>Driver list</h1>
  {% if driver_list %}
    <ul>
      {% for driver in driver_list%}
        <li>
          {% if driver.user == request.user %}
            <!-- MARCAÇÃO (Me) PARA O USUÁRIO ATUAL -->
            <strong>{{ driver.user.username }} (Me)</strong>
          {% else %}
            <!-- Link para os outros motoristas -->
            <!-- ATENÇÃO: Verifique se o nome da URL do app é 'taxi' ou se 'driver-detail' está correto -->
            <a href="{% url "driver-detail" pk=driver.pk %}">{{ driver.user.username }}</a>
          {% endif %}
          ({{ driver.first_name }} {{ driver.last_name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no drivers in taxi</p>
  {% endif %}
{% endblock %}
