<!-- Dentro do template taxi/index.html -->

{% extends "base.html" %}

{% block content %}
    <h1>Página Inicial</h1>
    <p>Bem-vindo(a) ao serviço de táxi!</p>
    
    {% if user.is_authenticated %}
        <!-- Exibição do contador de visitas -->
        <p>Você visitou esta página: <strong>{{ num_visits }}</strong> vez{{ num_visits|pluralize }} antes.</p>
    {% endif %}

    <h2>Estatísticas do Sistema:</h2>
    <ul>
        <li>Total de Motoristas: {{ num_drivers }}</li>
        <li>Total de Carros: {{ num_cars }}</li>
        <li>Total de Fabricantes: {{ num_manufacturers }}</li>
    </ul>

{% endblock %}